/* Regular Light 300 */
@font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Italic Light 300 */
@font-face {
    font-family: 'Raleway Light Italic';
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

