body, section {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

.navbar-brand img {
    max-height: 40px; /* Adjust the logo height as needed */
}

/* Custom CSS for sticky navbar */
.navbar {
    background-color: rgb(48, 48, 48); /* Initial background with 60% opacity */
    transition: background-color 0.3s ease; /* Transition effect for opacity change */
    position: sticky;
    top: 0;
    z-index: 1000;
}

    .navbar.sticky {
        background-color: rgba(0, 0, 0, 0.6); /* Initial background with 60% opacity */
        opacity: 1; /* Restore full opacity when sticky */
    }

.nav-link-white {
    color: #e2e1e2;
}

    .nav-link-white:hover {
        color: #ffffff !important;
    }


.custom-container {
    width: 80%; /* Increase the width by 15% */
    max-width: none; /* Disable the max-width constraint */
}

.bg-orange {
    background-color: #FF7C1F;
}

.bg-blue {
    background-color: #0095DA;
}

.page-item.active-orange .page-link {
    z-index: 3;
    color: #fff;
    background-color: #FF7C1F;
    border-color: #FF7C1F;
}

#navbarDropdownMenuLink-2284 + .dropdown-menu {
    width: 750px; /* Adjust this value based on your requirements */
}

#navbarDropdownMenuLink-1172 + .dropdown-menu {
    width: 275px; /* Adjust this value based on your requirements */
}

#navbarDropdownMenuLink-2283 + .dropdown-menu {
    width: 350px; /* Adjust this value based on your requirements */
}



@media (max-width: 767px) {
    .h2-mobile {
        margin-bottom: 1rem; /* equivalent to Bootstrap's mb-5 */
        margin-top: 1rem; /* equivalent to Bootstrap's mb-5 */
        text-align: center;
    }
}

@media (min-width: 768px) {
    .h2-desktop {
        margin-bottom: 0.5rem; /* equivalent to Bootstrap's mb-2 */
        margin-top: 0.5rem; /* equivalent to Bootstrap's mb-5 */
    }
}

.vertical-align-middle td, .vertical-align-middle th {
    vertical-align: middle;
}


#cookieConsentBanner .container-custom {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;
}

#cookieConsentBanner .d-flex {
    flex-direction: column; /* Change direction to column for flex items inside the banner */
}

#cookieConsentBanner .btn {
    margin-top: 10px; /* Add some space above the button */
    width: auto; /* Ensure the button width is auto to prevent stretching */
}

@media screen and (max-width: 768px) {
    #filters {
        display: none;
    }
}

.dropdown-item {
    white-space: normal !important;
}
