@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MyAccount>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
    var id = Model.Id;
    var events = Umbraco.Content(id).Children();
    var content = Umbraco.Content(id);
    var heroImageObj = Model.HeroImage;
    var heroImage = heroImageObj != null ? heroImageObj.Url() : "";

    string GetImageUrlFromMediaWithCrops(object mediaItem)
    {
        var mediaWithCrops = mediaItem as Umbraco.Cms.Core.Models.MediaWithCrops;
        return mediaWithCrops != null ? mediaWithCrops.Url() : "";
    }
}
<div class="jumbotron jumbotron-fluid hero hero-large" style="background-image: url('@heroImage')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container custom-container">
            <h1 class="display-4">@Model.Value("heroTitle")</h1>
            <p class="lead">@Model.Value("heroSubtitle")</p>
        </div>
    </div>
</div>
<div id="account-placeholder"></div>

<script>
    $(document).ready(function () {
        $.get("/umbraco/surface/account/index", function (data) {
            $("#account-placeholder").html(data);
        });
    });
</script>