@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using IISHF.Core.Models
@{
    Layout = "Main.cshtml";
}

<section class="home-header-section">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h1 class="fs63 orange mt-5">Welcome to <br />Inline Skater Hockey</h1>
                <p class="sub-heading mt-5 serif">A fast, physical, dynamic, strategic team sport that requires great concentration and coordination of all team members.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center">
                <img class="img img-fluid mx-auto" src="../images/netminder.png" />
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("News/LatestNewsLimit6")

@await Html.PartialAsync("~/Views/Partials/Statements/MissionAndValues.cshtml")


<section id="member-federations" class="home-member-section">
    <div class="Container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-2">
                <h2 class="text-center">
                    Our Member Federations
                </h2>
            </div>
        </div>
    </div>
    @{
        if (Model.Value<IPublishedContent>("carousel") != null)
        {
            @await Html.PartialAsync("~/Views/Partials/Galleries/Gallery.cshtml")
        }
    }
</section>


@Html.Partial("~/Views/Partials/Contact/ContactForm.cshtml", new ContactFormViewModel())

