@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IISHF - International Inline Skater Hockey Federation</title>


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/tablesaw.stackonly.css">
    <!-- jQuery (first) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
   

    <!-- Popper.js (second) -->
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/animatedHeadlines.js"></script>
    <script type="text/javascript" src="/scripts/slick.min.js"></script>
    <script type="text/javascript" src="/scripts/cookiealert.js"></script>
    <!-- Bootstrap JS (optional, if you need JavaScript features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/tablesaw.stackonly.js"></script>
    <script src="/scripts/signalr.min.js"></script>


    <!-- icons -->
    <script src="/scripts/fontawesome.js"></script>
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/all.css">

    <!-- Bootstrap JavaScript (third) -->
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>


    @*Colour Picker*@
    @{
        var pickrStyleSheetUrl = "https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css";
        var pickrScriptUrl = "https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js";
    }

    <link rel="stylesheet" href="@pickrStyleSheetUrl" />
    <script src="@pickrScriptUrl"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/mainStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/form-items.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/cards.css">
    <link rel="stylesheet" type="text/css" href="/css/imagesStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/sections.css">
    <link rel="stylesheet" type="text/css" href="/css/textStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/animatedHeadlines.css">
    <link rel="stylesheet" type="text/css" href="/css/colours.css">
    <link rel="stylesheet" type="text/css" href="/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/event-tabs.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/cookiealert.css" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/css/itc.css" />
    <link rel="stylesheet" type="text/css" href="/css/myaccount.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="/css/teamSubmission.css" />
    <link rel="stylesheet" href="/css/tables.css">
    


    @RenderSection("head", false)
    
    <script>
        $(document).ready(function () {
            if (window.location.hostname === "events.iishf.com") {
                window.location.replace("https://www.iishf.com" + window.location.pathname);
            }
        });
    </script>

</head>
<body>

@await Html.PartialAsync("Navigation/NavBar")

<main>
    @RenderBody()
</main>

@await Html.PartialAsync("Footer/Footer")

<div id="cookieConsentBanner" class="orange fixed-bottom p-3 bg-secondary text-white" style="display: none;">
    <div class="container container-custom mt-1">
        <div class="d-flex justify-content-between">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies. Read more about our Privacy Policy.
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    <button id="cookieConsentAccept" class="btn btn-light">Got it!</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZWM559GP8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-VZWM559GP8');
</script>

</html> 