@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <footer class="bg-dark text-white py-4">
        <div class="container custom-container">
            <div class="row">
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p>&copy; 2023 IISHF. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>