@using IISHF.Core.Controllers
@using MailKit.Search
@model IISHF.Core.Models.TeamColoursViewModel

<div class="container container-custom mt-3">
    <div class="row">
        <div class="col-12 col=sm-12 col-md-6 col-lg-6"></div>
        <div class="col-12 col=sm-12 col-md-6 col-lg-6"></div>
    </div>
    
</div>