@inherits UmbracoViewPage<IISHF.Core.Models.AccountViewModel>
@model IISHF.Core.Models.AccountViewModel

<div class="container custom-container mt-5">
    <div class="row">

        @await Html.PartialAsync("UserInformation.cshtml", Model)
        @await Html.PartialAsync("Notifications.cshtml", null)

        @await Html.PartialAsync("Invitations.cshtml", Model.Invitations)
        @await Html.PartialAsync("Approvals.cshtml", Model.Approvals)
    </div>
</div>

