@model IISHF.Core.Models.AccountViewModel

<div id="notifications" class="col-12 col-sm-12 col-md-8 col-lg-8 mb-5">
    <div class="col-12">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-team" role="tabpanel" aria-labelledby="v-pills-team-tab">

                <h2 class="mb-3 text-center">My Notifications</h2>
                <h3 class="mb-3 text-center">You currently have no notifications</h3>
            </div>
        </div>
    </div>
</div>

<script>

  

</script>