@using IISHFTest.Core.Controllers
@model IISHFTest.Core.Models.EventResultRequestViewModel

@{
    var b = true;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Schedule and Results</h1>
        </div>
    </div>
</div>