@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;

    var homePage = Model.AncestorOrSelf<Home>();
    var b = true;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-black-opacity">
    <div class="container custom-container">
        <a class="navbar-brand" href="/">
            <img src="/images/IISHFLogo_text.png" alt="International Inline Skater Hockey Federation" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                @{
                    var children = homePage.Children();

                    foreach (var child in children.Where(x => x.IsVisible()))
                    {
                        if (child.Children().Any() && child.Name != "News")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/@child.UrlSegment" id="navbarDropdownMenuLink-@child.Id" data-bs-toggle="dropdown" aria-expanded="false">@child.Name</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-@child.Id">
                                    @foreach (var grandChild in child.Children().Where(x => x.IsVisible()))
                                    {
                                        <a class="dropdown-item" href="@grandChild.Url()">@grandChild.Name</a>
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/@child.UrlSegment">@child.Name</a>
                            </li>
                        }
                    }

                }
            </ul>
        </div>
    </div>
</nav>

