
.cd-intro {
    /* Make the background cover the entire section */
    
    background-size: 100% 100%;
    height: 350px;
    padding: 25px 0px 25px 0px;
    text-align: center;
    background-color: rgba(255, 110, 7, 0.9);
    background-image: url('https://iishf.com/images/svg/section-background-stripes2.svg'); /* Replace 'your-image.jpg' with your image file path */
}

.cd-intro {
    position: relative;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* -------------------------------- 

xclip 

-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

.clipper-inner{
    position: relative;

    width: 100%;
    padding: 50px 0px 50px 0px;
    overflow-y: auto; /* in case the content inside the div is taller, this will make it scrollable */
    color: white;
}