.drop-zone {
    max-width: 100%;
    height: 200px;
    padding: 15px;
    border: 2px dashed #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

    .drop-zone:hover {
        background-color: #f8f9fa;
    }

.file-preview img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.remove-image-text {
    display: none;
    cursor: pointer;
    color: #007bff;
    margin-bottom: 10px;
}
