.home-header-section,
.home-member-section,
.home-contact-section,
.home-news-section {
    background-size: cover;
    background-size: 100% 100%;
    min-height: 400px;
    padding: 20px;
    background-color: #f0f0f0;
}

.home-header-section {
    /* Set the background image */
    background-image: url('https://iishf.com/images/ap-smart-layerslider/homepage/slide1.png'); /* Replace 'your-image.jpg' with your image file path */
}

.home-contact-section {
    background-color: #303030;
    background-repeat: repeat;
    background-image: url('https://iishf.com/images/svg/section-background-stripes2.svg'); /* Replace 'your-image.jpg' with your image file path */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 50% black overlay */
    z-index: 2;
}

.content-on-top {
    position: relative;
    z-index: 3; /* Higher than the overlay */
}